*{margin: 0; align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif; 
}

/* banner styles */
.banner{margin:0px 100px; align-content:right; padding:210px 50px ; }
.banner-title{  font-weight: 700;
    font-size: 60px;line-height: 76px; margin-bottom:20px;
}
.banner-paragraph{font-weight: 400;
    font-size: 20px;
    line-height: 26px; margin-bottom:25px; margin: 60px 250px ;

}
.btn{
    width: 160px;
height: 64px;border-radius: 5px;
font-weight: 400;
font-size: 20px;
border: 0; padding:20px 25px ;
background: #F15B22;
color: #FFFFFF;
}
.header{
    background-image:url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 1600px; height:800px ;
    
}
/* pic and details */
.pic-details{ background-color:#eaf0f3 ;
    width: 1600px;
    height: 500px; margin: 60px 250px ; display: flex; justify-content:space-between ;align-items: center; 
}
.pic-title{font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding:30px 30px ;

}

.pic-info{font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;padding:20px 30px ;

}
.main-li{
    width: 330px;
height: 20px;
padding:10px 0px ;
font-size:20; list-style: circle;
}
/* my plans section */
.myplan{text-align: center;
  font-weight: 700; 
  font-size: 40px; width:1600px ;
  margin: 60px 250px ;
}
.skills-container{
    display:flex; justify-content: space-between;
height:300px ; margin:0 40px ;
}
    .skill-title{
    
line-height: 35px;
text-align: center; 
font-weight: 700;
font-size: 40px;

    }
    .skill-description{
        font-weight: 500;
font-size: 25px;
line-height: 29px;
text-align: center;
    }
    .skill{
    margin-top:50px ;}
   /* mindset styles */
   .mindset-title{  text-align: left;
    margin: 0px 400px ;font-weight: 700;
    font-size: 40px; color: #151414; margin:0 400px ;
    background-image:url(../images/watch.png) ;background-repeat: no-repeat;
    height: 300px;padding: 50px 40px 0; gap: 10px;}
    .btn2{
        width: 160px;
        height: 40px;border-radius: 5px;
        font-weight: 500;
        font-size: 20px;
        background:  #FFFFFF;
        color:#F15B22;
        }
        
        /* contact styles */
        
        .contact{ display: flex; 
            background-color:black;color: #FFFFFF;width: 1600px;
            height:400px ; margin: 16px 250px 16px 250px ; 
            
    
            
        }
    .contact2{
        padding: 50px 100px ;
    }
.headd{
    padding:24px 0 ;font-weight: 700;
    font-size: 45px;
}
.details{
    padding:24px 0 ;font-weight: 400;
    font-size: 16px;
}
.contact input,textarea{
    margin-bottom: 24px; width:150px ;height:40px ; 
}
.input{ font-size:20px ;
    color: #FFFFFF; background-color: #151414; border: #FFFFFF ,5cm; border-radius: 5px;padding:0 20px ;
}

